.navLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: =100%;
  overflow: hidden;
  background-color:black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}
.navLinks li {
float: left;
}

.navLinks li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.navLinks li a:hover {
background-color:gray;
}

.active{
background-color: rgb(7, 100, 7);

}

input[type=text]{
    width: 10%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
    
  }
  input[type=number]{
    width: 10%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
  }

  .form {

      font-weight: Solid ;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 80%;
  }

  .button_class{
    padding: 0px 0px;
    text-align: center;
    display: inline-block;
    font-size: 60px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .line {
    border-top: 1px solid;
   }

   .footer {
    position: -webkit-sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    margin: 0px;
  }

