.button_class{
    padding: 0px 0px;
    text-align: center;
    display: inline-block;
    font-size: 60px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .navLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}
.navLinks li {
  float: left;
}

.navLinks li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.navLinks li a:hover {
background-color:gray;
}

.active{
background-color: rgb(7, 100, 7);

}
.line {
    border-top: 1px solid;
   }

   .footer {
    position: -webkit-sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    margin: 0px;
  }

  .button_class{
    padding: 0px 0px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
  }